
#full-task-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

#main-task-area, #button-area {
    display: flex;
    gap: 10px;

    min-width: 300px;
    min-height: 100px;
}

#main-task-area {
    background-color: rgb(237, 251, 254);
    border: 2px solid rgb(3, 41, 52);
}

#tab-area {
    display: flex;
    justify-content: center;
}

.nav-item:hover {
    cursor: pointer;
}

#list-area {
    min-width: var(--card-width);
}

#button-area {
    justify-content: center;
}