
.main-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: rgb(213, 245, 255);
    width: var(--card-width);
}

.center {
    justify-content: center;
}